<% provide(:title, 'About')%>

<div class="page_title">About</div>

<p>
  This website is a place to store the site's URL you like, and you can share them with others.
</p>
<p>
  Also, you can know the fun websites other people provide and visit them.
</p>
<p>
  Voting or commenting to express your feeling about the site.
</p>
<p>
  Hope you can have a good time here~~
</p>
