//@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "bootstrap";


html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  //font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.side_bar {
  width: 210px;
  height: 100%;
  min-height:500px;
  position: absolute;
  float: left;
  margin: auto;
  padding: auto;
  background-color: #1a1919;
  color: #da3610;
}

.side_bar .top {
  height: 80%;
  min-height:400px;
}

.side_bar .bottom {
  padding: 5px 20px;
}

.side_bar li {
  list-style-type: none;
  margin: 5px auto;
  padding: 5px 20px;
}

.side_bar a {
  color: #666564;
}

.side_bar a:hover {
  color: #a2a2a2;
}

.side_bar li.active {
  background-color: #222222;
  //background-color: #22aa22;
  //border-radius: 1px;
}

.side_bar li.active a {
  color: #fafafa;
}

.header_photo {
  padding: 30px 0;
  text-align: center;
}

.header_photo img {
  display: inline-block;
  border-radius: 50%;
}


.user_detail {
  width: 210px;
  height: 20%;
  text-align: center;
}

.user_detail li.links {
  float: left;
  padding: 5px 5px 20px 20px;
  width: 70px;
}


.user_detail li.profile {
  float: left;
  padding: 5px 5px 20px 5px;
  width: 60px;
}

.user_detail li.setting {
  float: left;
  padding: 5px 20px 20px 5px;
  width: 80px;
}

.user_detail li.nothing {
  visibility: hidden;
  float: left;
  padding: 0;
  margin: 0;
  width: 55px;
}

.user_detail li.new_link {
  float: left;
  padding: 5px 20px;
  width: 100px;
  background-color: #22aa22;
  color: #fafafa;
  border-radius: 5px;
}

.user_detail li.new_link a {
  color: #fafafa;
}

.side_bar hr {
  width: 90%;
  height: 1px;
  border: none;
  border-top: 1px solid #2a2a2a;
}

.side_bar .log_out {
}

// li.logo a {
//   display: inline-block;
//   color: #22aa22;
//   margin: 40px 0;
//   font-size: 20px;
//   transition: 0.2s ease-out;
//   -moz-transition: 0.2s ease-out;
//   -webkit-transition: 0.2s ease-out;
//   -o-transition: 0.2s ease-out;
//
// }
//
// li.logo a:hover {
//   color: #22aa22;
//   transform: scale(1.5);
//   -moz-transform: scale(1.5);
//   -ms-transform: scale(1.5);
//   -webkit-transform: scale(1.5);
//   -o-transform: scale(1.5);
// }
//
// li.logo {
//   height: 100px;
//   margin: 0;
//   padding: 0;
//   text-align: center;
// }

li.brand {
  height: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #22aaaa;
}

li.brand a {
  display: inline-block;
  color: #f1f1f1;
  font-size: 30px;
  padding: 0;
  margin: 30px 0;
}

li.brand a:hover {
  color: #f1f1f1;
}





.main {
  margin: auto;
  padding: 10px 20px 10px 230px;
  float: left;
  //background-color: #f0f0f0;
}
