@import url(http://fonts.googleapis.com/css?family=Roboto);


html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.side_bar {
  width: 240px;
  height: 100%;
  float: left;
  margin: auto;
  padding: auto;
  background-color: #1a1919;
  color: #da3610;
}

.side_bar .top {
  height: 80%;
}

.side_bar .bottom {
  padding: 5px 20px;
}

.side_bar li {
  list-style-type: none;
  margin: 5px auto;
  padding: 5px 20px;
}

.side_bar a {
  color: #666564;
}

.side_bar a:hover {
  color: #a2a2a2;
}

.side_bar li.active {
  background-color: #22aa22;
  //border-radius: 1px;
}

.side_bar li.active a {
  color: #fafafa;
}

.header_photo {
  padding: 30px 0;
  text-align: center;
}

.header_photo img {
  display: inline-block;
  border-radius: 50%;
}


// .user_detail {
//   width: 220px;
// }

.user_detail li.links {
  float: left;
  padding: 5px 5px 5px 20px;
  width: 60px;
}


.user_detail li.profile {
  float: left;
  padding: 5px;
  width: 60px;
}

.user_detail li.setting {
  float: left;
  padding: 5px 20px 5px 5px;
  width: 60px;
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  border-top: 1px solid #2a2a2a;
}

.side_bar .log_out {
}







.main {
  margin: auto;
  padding: 0 20px;
  float: left;
  //background-color: #f0f0f0;
}
